<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>DCAM</title>
    <meta charset="utf-8">
    <meta name="keywords" content="table, responsive" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="{% static '/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
	<link href="{% static 'index.css' %}" media="screen" type="text/css" rel="stylesheet" />
</head>
<body>

<h1><span class="yellow">DCAM</span></h1>
<h2><span class="yellow">Data Center Asset Management</span></h2>

<div class="container">
	{% with pages=data %}
	<ul class="pagination justify-content-end" style="margin:20px 0">
	{% if pages.previous %}
		<li class="page-item"><a class="page-link" href="?page={{ pages.previous_page_number }}">Prev</a></li>
	{% else %}
		<li class="page-item disabled"><a class="page-link">Prev</a></li>
	{% endif %}
	{% for i in pages.page_range %}
		{% if pages.number == i %}
		<li class="page-item active"><a class="page-link">{{ i }}</a></li>
		{% else %}
		<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
		{% endif %}
	{% endfor %}
	{% if pages.next %}
	<li class="page-item"><a class="page-link" href="?page={{ pages.next_page_number }}">Next</a></li>
	{% else %}
	<li class="page-item disabled"><a class="page-link">Next</a></li>
	{% endif %}
	</ul>
	<h3><span class="count_in_page">Count: {{ data.results|length }}</span></h3>
	<h3><span class="total">Total: {{ pages.total }}</span></h3>
	{% endwith %}
</div>
<form method="GET" action="" id="searchform">
        <input type="text" id="searchBox" class="input-medium search-query" name="search_v" placeholder="Search">
        <input type="submit" class="btn btn-dark" value="Search" >
    </form>

<h1>cho trang</h1>
<table class="container">
	<thead>
		<tr>
			<th><h1>Device ID</h1></th>
			<th><h1>Name</h1></th>
			<th><h1>Description</h1></th>
			<th><h1>Quantity</h1></th>
			<th><h1>Status</h1></th>
			<th><h1>License</h1></th>
			<th><h1>Management</h1></th>
			<th><h1>Note</h1></th>
		</tr>
	</thead>
	<tbody>
	{% with records=data.results %}
	{% if records %}
		{% for row in records %}
			<tr>
				<td><div class="cell">{{ row.device_id }}</div></td>
				<td><div class="cell">{{ row.name }}</div></td>
				<td><div class="cell">{{ row.description }}</div></td>
				<td><div class="cell">{{ row.quantity }}</div></td>
				<td><div class="cell">{{ row.status }}</div></td>
				<td><div class="cell">{{ row.license.0 }}</div></td>
				<td><div class="cell">{{ row.management.0 }}</div></td>
				<td><div class="cell">{{ row.note }}</div></td>
			</tr>
		{% endfor %}
    {% endif %}
	{% endwith %}
	</tbody>
</table>

</body>
</html>
